<!DOCTYPE html>
<html ng-app="dasClient">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <title> DAS CLIENT</title>
    <style>
        body {
            background-color: #31b38f;
        }
        .submit {
            color: blue;
            background: whitesmoke;
        }
        .Reset {
            color: blue;
            background: whitesmoke;
        }
    </style>
</head>
<<body ng-controller="dasController"> 
    <h1>DAS QUERY CLIENT:</h1>
    <form name="das" ng-submit="queryDas();" novalidate>
    
    <table style="width:30%">

            <tr><td><label  for="tableName" >Table Name: </label></td>
<td>
            <input type="text" id="tableName" ng-model="payload.tableName" /> </td>
             </tr>
                 <tr><td><label  for="dasServer" >Enter DAS SERVER: </label></td>
<td>
            <input type="text" id="dasServer" ng-model="payload.dasServer" /> </td>
             </tr>
             

            <tr><td><label  for="cpccode">Enter  your CP Code :</label></td>
<td> 
                <input type="text" id="cpccode" ng-model="payload.cpcode" /></td>
            <tr><td><label  for="column" >Enter your column :</label></td>
<td>
                <input type="text" id="coloum" ng-model="payload.column" /> </td>
                
            <tr><td><label  for="startDate" >Enter Start Date :</label></td>
<td>
                <input type="text" id="startDate" ng-model="payload.startDate" /> 
                      </td>
                
                <tr><td><label  for="endDate" ></label>Enter End Date :</label></td>
<td>
                <input type="text" id="endDate" ng-model="payload.endDate" /> 
                 
            </td>
                
                 <tr><td><label  for="limit" >Enter Limit  :</label></td>
<td>
                <input type="text" id="limit" ng-model="payload.limit" /> </td>

            <tr><td><label  for="service" >Enter Service Type :</label></td>
<td> 
                <select id="service" ng-model="payload.serviceType">
                    <option value="htp">htp</option>
                    <option value="ftp">ftp</option>
                </select></td>
                
                  </tr>
                  
     <tr><td><label  for="groupBy" >Enter groupBy :</label></td>
<td> 
                 <input type="groupBy" id="groupBy" ng-model="payload.groupBy" /> </td>
                
                  </tr>
                </table> 
                        <button type="submit" class="submit"> Submit  </button> 
                   
                        
        <input type="reset" ng-click="resetForm()"  class="Reset"value="Reset" />
    </form>
   
        <br> </br>
<table>            
<tr><td>  
    <label  for="result" ></label>Result :</label>
    </td>
    <td>
    <textarea rows="10" cols="50" layout-align="center center"  placeholder="description">
        {{result}}
    </textarea>
    </td>
    </tr>
</table>
    <script>
        //1. create app module 
        var dasApp = angular.module('dasClient', []);

        //2. create controller
        dasApp.controller("dasController", ['$scope', '$http', function ($scope, $http) {


            //5. create submitStudentForm() function. This will be called when user submits the form
            $scope.payload = {
        cpcode: 310860,
        tableName: 'ma_stat_epd_-_F_time',
        serviceType: 'htp',
        startDate:'07-09-2019 00:00:00',
        endDate:'10-09-2019 00:00:00',
        groupBy:'egress_hits',
        column:'egress_hits',
        limit :'10',
        dasServer:'198.18.87.199'
            };
            $scope.maxDatetimeLocal = new Date();
            $scope.queryDas =  () => {

                var onSuccess = function (data, status, headers, config) {
                    alert('Student saved successfully.', data);
                };

                var onError = function (data, status, headers, config) {
                    alert('Error occured.');
                }

                $http.post('/HelloWorldExample/dasclient', $scope.payload)
                    .then((data) => {
                    
                    $scope.result = data.data;
                }, (data) => console.log('Error occured.', data));

            };

            //6. create resetForm() function. This will be called on Reset button click.  
            $scope.resetForm = function () {
                $scope.student = angular.copy($scope.OriginalStudent);
            };
    }]);
    </script>    
</body>

</html>